* {
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-family: "Roboto", sans-serif;
}

.ant-modal-content {
  border-radius: 10px;
}
.ant-popover-inner {
  border-radius: 4px;
  margin-left: 8px;
}
.ant-popover-inner-content {position: relative; padding: 8px;}
.ant-popover-inner-content .ant-message {
  position: absolute;
}


.ant-image-preview-root .ant-image-preview-mask {
  z-index: 1002;
}
.certain-category-search-dropdown.header_course .rc-virtual-list .rc-virtual-list-holder 
.rc-virtual-list-holder-inner .ant-select-item-option:last-child {
  /* padding: 4px; */
  background-color: #ffffff;
  
}


.certain-category-search-dropdown.header_course .rc-virtual-list .rc-virtual-list-holder 
.rc-virtual-list-holder-inner .ant-select-item-option:last-child:hover{
  background-color: #ffffff;
}

/* .certain-category-search-dropdown.header_course .rc-virtual-list .rc-virtual-list-holder {
  max-height: 320px !important;
} */

.certain-category-search-dropdown.header_course .rc-virtual-list .rc-virtual-list-scrollbar{
  /* visibility: hidden; */
}

.ant-notification-notice-with-icon {
  position: relative;
}

.ant-notification-notice-with-icon span.anticon {
position: absolute;
  top: 50%;
  transform: translateY(-50%);
}